BODY.debug * {
  border: 1px solid red;
}
BODY * {
  border: 1px solid rgba(255, 255, 255, 0);
}
BODY {
  background: #f1e2df;
  padding: 0;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}
BODY > DIV:first-child {
  overflow: auto;
  background: white;
  margin: 0 auto 0 auto;
  max-width: 880px;
  padding: 60px;
}
BODY > DIV:first-child > DIV:last-child {
  padding-bottom: 100pt;
}
H1 {
  font-weight: normal;
  font-size: 16pt;
  margin-top: 50pt;
}
A, A:visited {
  cursor: pointer;
  text-decoration: none;
  color: #f12346;
}
UL, P {
  margin-left: 40pt;
}
UL {
  margin-top: 0;
  width: 80%;
  padding-left: 0pt;
}
LI {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
LI:nth-child(n+2) {
  margin-top: 1.5em;
}
CODE {
  font-family: "Lucida Console", Monaco, monospace;
  display: block;
  padding: 10pt 0 0 20pt;
}

.logo {
  color: black;
  display: flex;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  align-items: center;
}
.logo > .red {
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: #F14623;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: white;
}
.logo > .tld {
  font-size: 18px;
  margin-left: 5px;
  align-self: flex-end;
  letter-spacing: 0.025em;
}

/* on larger screens, have some sections float left */
@media (min-width: 940px) {
  BODY > DIV:first-child > DIV {
    width: 45%;
    float: left;
  }
  BODY > DIV:first-child > DIV:nth-child(2n) {
      clear: left;
  }
  BODY > DIV:first-child > DIV:nth-child(2n+1) {
      margin-left: 2em;
  }
  BODY > DIV:first-child > DIV:first-child {
      /* the logo is special */
      margin-left: 0;
  }
}
@media (max-width: 939px) {
  BODY > DIV:first-child {
      max-width: 400px;
      padding: 100px;
  }
}

/* on smaller screens, have less padding */
@media (max-width: 560px) {
  BODY > DIV:first-child {
      max-width: 870px;
    padding: 10pt;
  }
  H1 {
    margin-left: 0;
  }
  UL, P {
    margin-left: 0.5em;
  }
}